<script>
    // $function
    $(function () {
        getAll();

        // add
        $("#add").click(function () {
            window.location.replace("./account_add.html");
        });

        // delete
        $("#delete").click(function(e) {
            let ids = getIds();

            $.ajax({
                type: "DELETE",
                url: `${BASE_DOMAIN}/account/${ids}`,
                success: function(res) {
                    alert("Delete successfully!");
                    getAll();
                }
            });
        });

    });
    // end $function

    // get ids
    const getIds = function() {
        let list = document.querySelectorAll('input[type="checkbox"]:checked');
        let ids = [];

        for (let i = 0; i < list.length; i++) {
            ids.push(list[i].value);
        }

        return ids;
    }

    let listObject = [];
    // get all
    const getAll = function() {
        $.ajax({
            type: "GET",
            url: `http://localhost:8080/account`,
            dataType: "JSON",
            success: function(res, xhr) {
                listObject = [];
                listObject = res;

                $("#table-content").empty();
                if (listObject.length === 0) {
                    $("#table-content").append(
                        `<tr>
                                <td colspan="4">
                                    Không có dữ liệu
                                </td>
                            </tr>`
                    );
                } else {
                    for (let i = 0; i < listObject.length; i++) {
                        $("#table-content").append(
                            `<tr>
                                    <td>
                                        <label>
                                            <input type="checkbox" value="${listObject[i].id}" />
                                        </label>
                                    </td>
                                    <td>${i+1}</td>
                                    <td>${listObject[i].username}</td>
                                    <td>${listObject[i].fullName}</td>
                                    <td>${listObject[i].email}</td>

                                    <td>
                                        <a href="account_edit.html?id=${listObject[i].id}" class="btn btn-outline-primary btn-sm">Edit</a>
                                    </td>
                                </tr>`
                        );
                    }
                }
            }
        });
    }
</script>

<!-- account_list -->
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h3>List Account</h3>

            <a id="add" class="btn btn-outline-primary btn-sm">Add</a>
            <button id="delete" class="btn btn-danger btn-sm">Delete</button>

            <table class="table table-hover table-striped table-sm">
                <thead class="font-weight-bold">
                    <tr>
                        <td></td>
                        <td>STT</td>
                        <td>Username</td>
                        <td>Full Name</td>
                        <td>Email</td>
                        <td></td>
                    </tr>
                </thead>

                <tbody id="table-content">
                    <tr>
                        <td>Checkbox</td>
                        <td>Stt</td>
                        <td>Username</td>
                        <td>Full Name</td>
                        <td>Email</td>
                        <td>Edit</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
