
<script>
    class Department {
        departmentName = "";
    }

    // $function
    $(function() {
        $("button#save").click(function() {
            let department = new Department();
            department.departmentName = $("#departmentName").val();

            if (department.departmentName.trim() === "") {

                alert("Không được bỏ trống các trường!");
                return;
            }
            // save
            $.ajax({
                type: "POST",
                url: `${BASE_DOMAIN}/department`,
                contentType: "application/json",
                data: JSON.stringify(department),
                success: function(res) {
                    alert("Create successfully!");
                    localStorage.setItem("menu", "department_list.html");
                    location.href = "program.html";
                },
                error: function (err) {
                    console.log("err")
                    console.log(err)
                    if (err.status === 400 && err.responseText === "EXISTS_DEPARTMENT_NAME") {
                        alert("Department Name exists!")
                    }
                }
            });

        });

    });
    // end $function
</script>

<div class="container">
    <div class="row">
        <h3 class="col-md-10 offset-md-1">Department Add</h3>

        <form action="/" class="col-md-10 offset-md-1">
            <div class="form-group">
                <label for="departmentName">Department Name</label>
                <input type="text" id="departmentName" class="form-control form-control-sm" />
            </div>

            <button type="button" class="btn btn-primary" id="save">Submit</button>
        </form>
    </div>
</div>
