
<script>
    // $function
    $(function () {
        getAll();

        $("#departmentAdd").click(function () {
            localStorage.setItem("menu", "department_add.html");
            location.href = "program.html";
        });

        // delete
        $("#delete").click(function() {
            let utilsCommons = new UtilsCommons("a");
            let ids = utilsCommons.getIds();

            $.ajax({
                type: "DELETE",
                url: `${BASE_DOMAIN}/department/${ids}`,
                success: function(res) {
                    alert("Delete successfully!");
                    getAll();
                },
                error: function (err) {
                    console.log("err");
                    console.log(err);
                }
            });
        });
    });
    // end $function

    let listObject = [];
    // get all
    const getAll = function() {
        $.ajax({
            type: "GET",
            url: `${BASE_DOMAIN}/department`,
            dataType: "JSON",
            success: function(res) {
                listObject = [];
                listObject = res;

                $("#table-content").empty();
                if (listObject.length === 0) {
                    $("#table-content").append(
                        `<tr>
                            <td colspan="4">
                                Không có dữ liệu
                            </td>
                        </tr>`
                    );
                } else {
                    for (let i = 0; i < listObject.length; i++) {
                        $("#table-content").append(
                            `<tr>
                                <td>
                                    <label>
                                        <input type="checkbox" class="checkbox-group" value="${listObject[i].id}" id="${i+1}">
                                    </label>
                                </td>
                                <td>${i+1}</td>
                                <td>${listObject[i].departmentName}</td>
                                <td>
                                    <a href="department_edit.html?id=${listObject[i].id}" class="btn btn-outline-primary btn-sm">Edit</a>
                                </td>
                            </tr>`
                        );
                    }
                }
            },
            error: function(err) {
                console.log("err");
                console.log("Cannot get response from server");
            }
        });
    }
</script>

<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h3>List Department</h3>

            <button id="departmentAdd" class="btn btn-outline-primary btn-sm">Add</button>
            <button id="delete" class="btn btn-danger btn-sm">Delete</button>

            <table class="table table-hover table-striped table-sm">
                <thead class="font-weight-bold">
                <tr>
                    <td></td>
                    <td>STT</td>
                    <td>Department Name</td>
                    <td></td>
                </tr>
                </thead>

                <tbody id="table-content">
                    <tr>
                        <td>Checkbox</td>
                        <td>Stt</td>
                        <td>Department Name</td>
                        <td>Edit</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
