<script>
    // $function
    $(function () {
        $("#logout").click(function () {
            localStorage.removeItem("isLogin");

            if (localStorage.getItem("isRemember") === "false") {
                localStorage.removeItem("username");
                localStorage.removeItem("password");
            }
            window.location.replace("./program.html");
        });

        // navbar
        $("#username").val(localStorage.getItem("username"));

        // menu
        $("#accountList").click(function () {
            localStorage.setItem("menu", "account_list.html");
            window.location.replace("./program.html");
        });
        $("#departmentList").click(function () {
            localStorage.setItem("menu", "department_list.html");
            window.location.replace("./program.html");
        });
    });
    // end $function
</script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Icon</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a id="departmentList" class="nav-link" href="#">Department List</a>
            </li>
            <li class="nav-item">
                <a id="accountList" class="nav-link" href="#">Account List</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <span id="username" class="text-primary font-weight-bold">t1</span>
            <a href="#" id="logout"><small>Logout</small></a>
        </form>
    </div>
</nav>
